<%: func GroupList(groups []presenters.GroupPresent, user *models.User, buffer *bytes.Buffer) %>
<%~ "base.html" %>
<%@ aside { %>
<%
        menuOpen := "users"
        menuActive := "users"
        submenuActive := "groupList"
    %>
<%+ "aside.html" %>
<% } %>
<%@ title { %>لیست گروه‌های کاربری <% } %>
<%@ contentTitle { %>لیست گروه‌های کاربری <% } %>

<%@ body { %>
<div class="card d-none d-md-block">
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <th style="width: 5%;">#</th>
                    <th style="width: 20%;">نام</th>
                    <th style="width: 45%">توضیحات</th>
                    <th style="width: 30%;" class="text-center">عملیات</th>
                </tr>
                <% for i, group := range groups { %>
                <tr>
                    <td><%= strconv.Itoa(i+1) %>.</td>
                    <td><%= group.Name %></td>
                    <td><%= group.Description %></td>
                    <td class="text-center">
                        <a href="/groups/view/<%= group.ID.String() %>" class="mr-lg-2">
                            <i class="fa fa-eye" style="color: slategrey; font-size:xx-large;"></i>
                        </a>
                        <a href="/groups/edit/<%= group.ID.String() %>" class="mr-lg-2">
                            <i class="fa fa-edit mr-3" style="color: slategrey; font-size:xx-large;"></i>
                        </a>
                        <a href="#" class="mr-lg-2">
                            <i class="fa fa-trash mr-3" data-group="<%= group.ID.String() %>"
                                style="color: slategrey; font-size:xx-large;"></i>
                        </a>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<div class="card d-md-none">
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <th style="width: 50%;">نام</th>
                    <th style="width: 50%;" class="text-center">عملیات</th>
                </tr>
                <% for _, group := range groups { %>
                <tr>
                    <td><%= group.Name %></td>
                    <td class="text-center">
                        <a href="/groups/view/<%= group.ID.String() %>" class="mr-lg-2">
                            <i class="fa fa-eye" style="color: slategrey; font-size:x-large;"></i>
                        </a>
                        <a href="/groups/edit/<%= group.ID.String() %>" class="mr-lg-2">
                            <i class="fa fa-edit mr-2" style="color: slategrey; font-size:x-large;"></i>
                        </a>
                        <a href="#" class="mr-lg-2">
                            <i class="fa fa-trash mr-3" data-group="<%= group.ID.String() %>"
                                style="color: slategrey; font-size:x-large;"></i>
                        </a>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<% } %>
<%@ script { %>
<script>
    'use strict';
    (function () {
        window.addEventListener('load', function () {
            let trashers = document.getElementsByClassName('fa-trash');
            Array.from(trashers).forEach((item, index, array) => {
                item.addEventListener('click', () => {
                    let data = { id: item.dataset.group }
                    let callback = (data) => {
                        let request = new Ajax('/apiv1/groups', data, 'DELETE')
                        request.post((result) => {
                            switch (result.status) {
                                case 200:
                                    successToastWithReload('گروه مورد نظر با موفقیت حذف شد.');
                                    break;
                                case 600:
                                    errorToast('برای این گروه کاربر تعریف شده است.')
                                    break;
                                case 700:
                                    errorToast('شما نمی‌توانید گروه مدیر را حذف کنید.');
                                    break;
                            }
                        });
                    }
                    deleteToast('گروه', data, callback);
                });
            });

        }, false);
    })();
</script>
<% } %>
